.manage-work {
  margin-top: 180px;
  .container {
    @include container;
    display: flex;
    
    .manage-work-text {
      margin-left: 100px;
      margin-top: 100px;
      
      a {
        margin-top: 40px;
        width: 7rem;
      }
      
      ul {
        list-style: none;
        padding: 0;
        
        li {
          margin-bottom: 1rem;
          
          i {
            margin-right: 1rem;
            color: var(--theme);
            border: var(--theme) 1px solid;
            border-radius: 100%;
            padding: 2px;
          }
        }
      }
    }
  }
}