@model Courses.WebApp.ViewModels.Course.CourseViewModel
@{
    Layout = "_BreadcrumbLayout";
}

<div class="courses">
    <div class="top-bar">
        <h2>Courses</h2>
        <form id="course-selector-form" class="input-row">
            <div class="text-input-icon-right">
                <i class="fa-solid fa-chevron-down"></i>
                @Html.DropDownList("category", Model.Categories, "All Categories", new { onchange = "this.form.submit()" })

            </div>

            <div class="text-input-icon-right">
                <input name="searchString" asp-for="CoursePreview.Filter" type="text" placeholder="Search courses">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </form>
    </div>

    @await Component.InvokeAsync("CoursePreviewGrid", Model.CoursePreview)
    
    <div class="work-with-us">
        <div>
            <p class="text-lead">Ready to get started?</p>
            <h1 class="h1">Take Your <span class="text-theme">Skills</span> to the <br>Next Level</h1>
            <a href="" class="btn-theme">Work with us</a>
        </div>
        <img src="images/next-level_vec.svg" alt="next level vector graphics">
    </div>

</div>

