@{
    Layout = "_BreadcrumbLayout";
}

<div class="courses">
    <div class="top-bar">
        <h2>Courses</h2>
        <div class="input-row">
            <div class="text-input-icon-right">
                <i class="fa-solid fa-chevron-down"></i>
                <select>
                    <option value="">All categories</option>
                    <option value="web">Web</option>
                    <option value="web1">Web1</option>
                    <option value="web2">Web2</option>
                    <option value="web3">Web3</option>
                    <option value="web4">Web4</option>
                </select>
            </div>
            
            <div class="text-input-icon-right">
                <input type="text" placeholder="Search courses">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </div>
    </div>
    
    <div class="course-items">
        <div class="course-item"></div>
    </div>
</div>