
<div class="signin">
    <form>
        <h2>Welcome Back</h2>
        <p>Dont have an account yet? <a asp-controller="Auth" asp-action="SignUp">Sign up here.</a></p>
        
        <div class="input-group">
            <label for="sign-in-email">Email</label>
            <input id="sign-in-email" placeholder="Enter your email address" />
        </div>
        
        <div class="input-group">
            <label for="sign-in-password">Password</label>
            <input id="sign-in-password" placeholder="********" />
        </div>
        
        <div class="input-checkbox-group">
            <input type="checkbox" id="sign-in-remember-me">
            <label for="sign-in-remember-me">Remember me</label>
        </div>
        
        <button class="btn-theme">Sign in</button>
        <a href="" class="forgot-pw">Forgot your password?</a>
    </form>
</div>