<section class="dark-light">
   <div class="container">
      <div class="dark">
            <h2 class="h1">Switch Between</h2>
            <img src="~/images/mbp-dark.svg" alt="dark theme"/>
         </div>
         <img src="~/images/ld-button.svg" alt="light-dark button" class="ld-button"/>
         <div class="light">
            <h2 class="h1">Light & Dark Mode</h2>
            <img src="~/images/mbp-light.svg" alt="light theme"/>
         </div>
   </div>
</section>

