
<section class="showcase">
    <div class="showcase-text">
        <div class="container">
            <h1 class="d4">Task Management <br> Assistant You <br>Gonna Love</h1>
            <p class="text-lg">We offer you a new generation of task management system. <br> Plan, manage & track all your tasks in one flexible tool.</p>
            <a href="#" class="btn-theme">Get Started for free</a>
            
            <p class="h6">Largest companies use our tool to work efficiently</p>
            <div class="showcase-logos">
                <img src="~/images/comp-logo1.svg" alt="company logo" class="company-logo"/>
                <img src="~/images/comp-logo2.svg" alt="company logo" class="company-logo"/>
                <img src="~/images/comp-logo3.svg" alt="company logo" class="company-logo"/>
                <img src="~/images/comp-logo4.svg" alt="company logo" class="company-logo"/>
            </div>
        </div>
    </div>
    <img src="~/images/showcase-img.svg" alt="our dashboard" id="showcase-img"/>
</section>


