
<section class="subscribe">
    <form action="">
        <h2 class="h1">Don't Want to Miss Anything? <img src="images/arrows.svg" alt="just a cool arrow"/></h2>
        <div class="signup-choices">
            <h5 class="h5">Sign up for <br>Newsletters</h5>
            <div class="checkboxes">
                <div class="checkbox-group">
                    <div class="checkbox">
                        <input id="daily-checkbox" type="checkbox"/>
                        <label for="daily-checkbox" class="text-s">Daily Newsletter</label>
                    </div>
                    <div class="checkbox">
                        <input id="event-checkbox" type="checkbox"/>
                        <label for="event-checkbox" class="text-s">Event Updates</label>
                    </div>
                </div>
                <div class="checkbox-group">
                    <div class="checkbox">
                        <input id="advertising-checkbox" type="checkbox"/>
                        <label for="advertising-checkbox" class="text-s">Advertising Updates</label>
                    </div>
                    <div class="checkbox">
                        <input id="startups-checkbox" type="checkbox"/>
                        <label for="startups-checkbox" class="text-s">Startups Weekly</label>
                    </div>
                </div>
                <div class="checkbox-group">
                    <div class="checkbox">
                        <input id="week-checkbox" type="checkbox"/>
                        <label for="week-checkbox" class="text-s">Week in Review</label>
                    </div>
                    <div class="checkbox">
                        <input id="podcasts-checkbox" type="checkbox"/>
                        <label for="podcasts-checkbox" class="text-s">Podcasts</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="input-text-group">
            <div class="text-input-icon-left">
                <input type="text" placeholder="Your Email" />
                <i class="fa-regular fa-envelope"></i>
            </div>
            <button type="submit" class="btn-theme">Subscribe*</button>
        </div>
        <p class="text-s">* Yes I agree to the <a href="#">terms</a> and <a href="#">privacy policy</a>.</p>
    </form>
</section>
