@using Courses.WebApp.ViewModels.Account
@{
    Layout = "_AccountLayout";
    
}
@model DetailsViewModel

<div class="account-details">
    <h2>Account Details</h2>
    
    <partial name="Account/Details/_BasicInfo" model="Model.BasicInfo"/>
    <partial name="Account/Details/_AddressInfo" model="Model.AddressInfo"/> 
</div>