.text-input-icon {
  color: var(--gray-500);
  position: relative;
  width: 100%;
  input {
    padding: 15px 10px 15px 35px;
    border-radius: 5px;
    border: var(--gray-500) .5px solid;
  }
  
  i {
    position: absolute;
    top: 32%;
    bottom: 18%;
    left: 10px;
  }
}

.input-row {
  display: flex;
  gap: 20px;
  
  .input-group {
    flex: 1;
  }
}

.input-group {
  display: flex;
  flex-direction: column;
  
  input {
    padding: 10px 20px;
    background-color: inherit;
    border-radius: 5px;
    color: var(--gray-600);
    border: .5px solid var(--gray-600);
  }
  
  label {
    margin-bottom: 5px;
    font-weight: bold;
  }
}