.courses {
  .top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .work-with-us {
    margin-top: 120px;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-around;
    background-color: var(--gray-100);
    padding: 60px 30px;
    
    .btn-theme {
      width: 100px;
    }
  }
}